/* HTML: <div class="loader"></div> */
.loader {
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,blue 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,blue);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
.loader1 {
  width: 70%;
  height: 10px;
  display: inline-block;
  position: relative;
  background: #aaa;
  overflow: hidden;
  border-radius: 10px;
}

.loader1::after {
  content: '';
  width: 96px;
  height: 10px;
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 1s linear infinite alternate;
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }

  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}